# =========================
# 운영(PROD) 환경변수 명세 파일 (예시)
# 실제 값은 GitHub Actions Secret & Kubernetes Secret & ConfigMap에서 주입
# =========================
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

# -------------------------------------------------
# baro-gateway
# -------------------------------------------------
SPRING_DATA_REDIS_HOST=         # Redis 호스트 (Gateway/ConfigMap)
SPRING_DATA_REDIS_PORT=         # Redis 포트 (Gateway/ConfigMap)
SPRING_DATA_REDIS_PASSWORD=     # Redis 인증 비밀번호 (K8S secret)
REDIS_HOST=                     # Redis fallback 호스트 (k8s/apps/common/infra-configmap.yml)
REDIS_PORT=6379                 # Redis fallback 포트 (k8s/apps/common/infra-configmap.yml)
GATEWAY_ALLOWED_ORIGIN_0=http://localhost:3000                  # 허용할 프론트 origin 1
GATEWAY_ALLOWED_ORIGIN_1=http://3.34.14.73:3000                 # 허용할 프론트 origin 2
JWT_SECRET=                     # Github Actions Secret